@model SimpleWebsiteWithMVC.Model.Book
<!-- STEP 2 : give the enctype for the form -->
<form action="/addnewbook" method="post"
enctype="multipart/form-data">
    <h1>Add New Book</h1>
    @if(ViewBag.IsValid != null)
    {
        <div class="alert alert-danger">Please correct the validation errors</div>
    }

    @if(ViewBag.Error != null)
    {
        <div class="alert alert-warning">@ViewBag.Error</div>
    }
    <div>
        <label>
            BookId 
        </label>
        @Html.TextBoxFor(model => model.Id,null, new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.Id, null,new { @class = "text-danger"})
    </div>
    <div>
    <label>
        Title 
    </label>
    @Html.TextBoxFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div>
    <label>
        Author 
    </label>
    @Html.TextBoxFor(model => model.Author)
    @Html.ValidationMessageFor(model => model.Author)

    
    </div>
    <div>
        <!-- STEP 1 : ADD A FILE CONTROL-->
        <label>Upload Cover Image</label>
        <input type="file" name="imgCover" 
                accept=".jpg;.jpeg" />
    </div>
    <div>
    <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>